.about-carousel {
    margin-top: 5vh;
    height: 25vh;
    width: 80vw;
    padding: 0;
    margin-left: 10vw;
}

body {
    background-color: #1A1A1D;
}
.cse-carousel {
    margin-top: 10vh;
    margin-bottom: 100vh;
    height: 25vh;
    width: 80vw;
    padding: 0;
}

.about-container {
    position: absolute;
    top: 37vh;
    margin-left: 10vw;
    width: 80vw;
    height: 25vh;
    background-color: #05386B;
    box-shadow: 10px 10px #5CDB95;
    overflow: auto;;
    padding: 1em;
}

.cse-container {
    position: absolute;
    top: 120vh;
    margin-left: 10vw;
    width: 80vw;
    height: 25vh;
    background-color: #05386B;
    box-shadow: 10px 10px #5CDB95;
    overflow: auto;
    padding: 1em;
    margin-bottom: 0;
}

.carousel-cell {
    position: absolute;
    height: 100%;
    width: 100%;
}

img {
    position: absolute;
    height: 100%;
    width: 100%;
}



@media only screen and (min-width: 968px) {
    .about-carousel {
        position: absolute;
        margin-top: 22vh;
        height: 60vh;
        width: 50%;
        padding: 0;
        margin-left: 5vw;
    }

    .cse-carousel {
        margin-top: 20vh;
        height: 60vh;
        width: 50vw;
        margin-right: 5vw;
        padding: 0;
    }

    .about-container {
        position: absolute;
        top: 22vh;
        margin-left: 60vw;
        width: 35vw;
        height: 60vh;
        background-color: #05386B;
        box-shadow: 10px 10px #5CDB95;
        overflow: auto;
        padding: 2em;
    }

    .cse-container {
        position: absolute;
        top: 148vh;
        margin-left: 5vw;
        width: 35vw;
        height: 60vh;
        background-color: #05386B;
        box-shadow: 10px 10px #5CDB95;
        overflow: auto;
        padding: 2em;
    }

}


hr {
    margin-top: 45vh;
    border: 0;
    height: 1vh; /* Firefox... */
    box-shadow: 0 0 10px 1px white;
}
hr:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}
