.logo-div {
    height: 100vh;
    background-image: url('backgrounds/shot_60.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0px;
}

.main-logo {
    width: 50vw;
    height: 14vh;
    margin-left: 25vw;
    margin-top: 40vh;
}
.main-summer {
    width: 20vw;
    height: 7vh;
    position: relative;
    margin-left: 40vw;
    margin-top: 1vh;
}
.main-2020 {
    width: 10vw;
    height: 7vh;
    position: relative;
    margin-top: 1vh;
}
.main-dates {
    width: 34vw;
    height: 4vh;
    position: relative;
    margin-left: 33vw;
    margin-top: 1vh;
}

.main-menubar-div {
    background-color: black;
    height: 8vh;
}

.video-div {
    height: 120vh;
    padding-top: 35vh;
    background-image: url('backgrounds/bg1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-left: 0px;
    padding-right: 0px;
}
.main-video {
    width: 60vw;
    height: auto;
    margin-left: 18vw;
}

.events-div {
    background-color: blue;
    height: 100vh;
}

.sponsors-div {
    background-color: black;
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    height: 40vh;
}
.sponsor-content {
    height: 34vh;
}
.sponsor-content .display-4 {
    color: white;
    font-size: 1.5rem;
}
.sponsor-height {
    height: 100%;
}
.cosponsor-height {
    height: 100%;
}
.h-divider {
}
.upays-logo-images {
    height: 90%;
    width: auto;
    margin-bottom: 10px;
}
.smartgen-logo-div {
    height: 30%;
}
.prof-logo-images {
    width: 60%;
    margin-bottom: 10px;
    height: auto;
}
.qrcode-div {
    width: 30%;
    height: auto;
    right: 0;
}


@media only screen and (min-width: 576px) {
    .sponsors-div {
        height: 90vh;
    }
    .sponsor-height {
        height: 60%;
    }
    .cosponsor-height {
        height: 40%;
    }
    .smartgen-logo-div {
        width: 100%;
    }
    .qrcode-div {
        height: 40%;
        width: auto;
    }
}
@media only screen and (min-width: 768px) {
    .sponsors-div {
        height: 90vh;
    }
    .sponsor-height {
        height: 60%;
    }
    .cosponsor-height {
        height: 40%;
    }
    .qrcode-div {
        height: 40%;
        width: auto;
    }
    .upays-logo-images {
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 992px) {
    .sponsors-div {
        height: 50vh;
    }
    .sponsor-height {
        height: 100%;
    }
    .cosponsor-height {
        height: 100%;
    }
    .smartgen-logo-div {
        width: 60%;
    }
    .upays-logo-images {
        width: 100%;
        height: auto;
    }
}
@media only screen and (min-width: 1428px) {
    .upays-logo-images {
        height: 90%;
        width: auto;
        margin-bottom: 10px;
    }
    .smartgen-logo-div {
        width: 60%;
    }
}
@media only screen and (max-width: 576px) {
    .sponsors-div {
        height: 120vh;
        padding-left: 20vw;
        padding-right: 20vw;
    }
    .sponsor-height {
        height: 60%;
    }
    .cosponsor-height {
        height: 40%;
    }
    .prof-logo-images {
        width: 100%;
        height: 15%;
    }
    .qrcode-div {
        height: 30%;
        width: auto;
    }
    .smartgen-logo-div {
        height: 20%;
        width: 100%;
    }
    .upays-logo-images {
        height: 90%;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .logo-div {
        height: 100vh;
        background-image: url('backgrounds/shot_60.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 0px;
    }

    .main-logo {
        width: 70vw;
        height: 10vh;
        margin-left: 15vw;
        margin-top: 40vh;
    }
    .main-summer {
        width: 30vw;
        height: 7vh;
        position: relative;
        margin-left: 40vw;
        margin-top: 1vh;
    }
    .main-2020 {
        width: 20vw;
        height: 7vh;
        position: relative;
        margin-top: 1vh;
    }
    .main-dates {
        width: 66vw;
        height: 3vh;
        position: relative;
        margin-left: 17vw;
        margin-top: 1vh;
    }


    .main-menubar-div {
        background-color: black;
        height: 8vh;
    }


    .video-div {
        height: 100vh;
        padding-top: 15vh;
        background-image: url('backgrounds/bg1.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding-left: 0px;
        padding-right: 0px;
    }
    .main-video {
        width: 90vw;
        height: auto;
        margin-left: 5vw;
    }

    .events-div {
        background-color: blue;
        height: 100vh;
    }
}
