body {
  font-family: "Lato", sans-serif;
}

.menubar-div {
    padding-left: 0px;
    padding-right: 0px;
}
.bootstrap-navbar-custom {
    height: 8vh;
    padding: 0 1rem;
    background-color: black !important;
}
.img-responsive-custom {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}
.nav-link-custom {
    color: white !important;
}
.dropdown-custom {
    position: absolute;
    margin-left: 20vw;

}
.dropdown-menu-custom {
    position: absolute !important;
    background-color: black;
}
.dropdown-item-custom {
    color: white;
}



.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav .inner-dropdown {
    color: black;
    padding: 8px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .inner-dropdown:hover {
    color: #5b5d61;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav-button-custom {
    position: absolute;
    right: 20px;
    color: white;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1300px) {
    .dropdown-custom {
        position: absolute;
        margin-left: 28vw;
    }
}
@media only screen and (max-width: 920px) {
    .dropdown-custom {
        position: absolute;
        margin-left: 35vw;
    }
}
