::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #030000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f7f7f7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
